<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temukan restoran favorit di sekitar kamu dengan mudah dan cepat">
    <title>LUWE</title>
</head>

<body>
    <button class="skip2content">Lewati menuju konten utama</button>
    <nav is='my-navbar'></nav>
    <main id="main-content" tabindex="-1"></main>
    <footer is='my-footer'></footer>
</body>

</html>